version: "3.7"

services:
  perf-analyzer-webapp:
    image: cadugrillo/perf-analyzer-webapp:1.5local
    container_name: perf-analyzer-webapp
    restart: always
    ports:
      - 80:80
    mem_limit: 1024m
    cpus: 0.5

  perf-analyzer-api:
    image: cadugrillo/perf-analyzer-api:1.5
    container_name: perf-analyzer-api
    restart: always
    mem_limit: 2048m
    cpus: 1.0
 
  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    restart: always
    ports:
      - 1883:1883
      - 9884:9884
    volumes:
      - type: bind
        source: ./docker-compose-mosquitto.conf
        target: /mosquitto/config/mosquitto.conf
        read_only: true